/* Custom variables */
$primary: #F49E18;
$secondary: #548CBB;
$dark: #212324;
$primaryLight: #FFB235;
$secondaryLight: #7DA1C2;



/* Bootstrap import */
@import "../node_modules/bootstrap/scss/bootstrap";


/* Styling */
#logoHeader{
  width: 7%;
}
