/* Custom variables */
$primary: #F49E18;
$secondary: #548CBB;
$dark: #212324;
$primaryLight: #FFB235;
$secondaryLight: #7DA1C2;



/* Bootstrap import */
@import "../node_modules/bootstrap/scss/bootstrap";


/* Styling */

*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  img{
    max-width: 100%;
  }

  .landing{

  }

  .what{

  }

  .who{

  }

  .contact{

  }
}
